name: Commit cheat

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"     # 00:00
    - cron: "25 3 * * *"    # 03:25
    - cron: "50 6 * * *"    # 06:50
    - cron: "15 10 * * *"   # 10:15
    - cron: "40 13 * * *"   # 13:40
    - cron: "5 17 * * *"    # 17:05
    - cron: "30 20 * * *"   # 20:30

jobs:
  auto_commit:
    runs-on: ubuntu-latest
    steps:
      - name: Set global directory
        run: git config --global --add safe.directory /github/workspace

      - uses: actions/checkout@v3     
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Modify last update
        run: |
          d=$(date '+%Y-%m-%dT%H:%M:%SZ')
          echo "$d" > update.txt
          
      - name: Commit changes
        run: |
          git config --local user.email "joshua.plk08@gmail.com"
          git config --local user.name "JossNells13"
          git add -A
          git commit -m "What are you looking for?"
          
      - name: GitHub Push
        uses: ad-m/github-push-action@v0.6.0
        with:
          force: true
          directory: "."
          github_token: ${{ secrets.GITHUB_TOKEN }}
